@{
  Layout = "_Layout";
}

@using ToDoList.Models;
@model List<ToDoList.Models.Item>;

<h1>Items</h1>

<ul>
  @foreach(Restaurant restaurant in Model)
  {
    <li>@Html.ActionLink($"{restaurant.Description}", "Details", new { id = restaurant.RestaurantId })</li>
  }
</ul>

<p>@Html.ActionLink("Add new Restaurant", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>